.section-3 {
	background: #ffffff;
	padding: 100px 0 50px 0;
	h4 {
		text-align: center;
		line-height: 32px;
		color: #333333;
		span {
			background: #fbd007;
			padding: 0 5px;
		}
	}
	.appeal-block {
		&:nth-child(2) {
			.appeal-img {
				height: 180px;
			}
			.appeal-title {
				margin-bottom: 67px;
			}
		}
		&:last-child {
			.appeal-title {
				margin-bottom: 35px;
			}
		}
	}
	.appeal-title {
		margin-bottom: 15px;
	}
	.appeal-img {
		margin-bottom: 5px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.appeal-description {
		margin-top: 30px;
		p {
			font-family: $open-font;
			font-size: 18px;
			font-weight: 200;
			color: #333333;
			text-align: center;
		}
		&:first-child {
			margin-top: 0;
		}
	}
}
