.section-2 {
	.view-main-block {
		display: flex;
		justify-content: flex-start;
	}
	.view-block {
		background: url("../img/picture.png") no-repeat;
		background-size: contain;
		height: 468px;
		width: 33.34%;
		transition: .15s;
		margin-left: -1px;
		&:first-child {
			margin-left: 0;
		}
		&:hover {
			border-bottom-right-radius: 105px;
			a {
				visibility: visible;
			}
			.view-block_hover {
				border: 30px solid #ffffff;
			}
		}
	}
	h3 {
		font-family: $russo-font;
		font-size: 30px;
		text-transform: uppercase;
		color: #ffffff;
		text-align: left;
		line-height: 36px;
		margin-bottom: 15px;
		width: 94%;
	}
	.view-block_hover {
		border-bottom-right-radius: 100px;
		padding: 35px 0 0 40px;
		height: 100%;
		border: 30px solid transparent;
		transition: .3s;
	}
	a {
		font-family: $open-font;
		font-size: 24px;
		font-weight: bold;
		color: #fbd107;
		text-decoration: underline;
		text-transform: uppercase;
		visibility: hidden;
	}
}