.section-11 {
	background: #f4f6fa;
	padding: 50px 0;
	.question-block {
		margin-top: 40px;
	}
	.question {
		margin-bottom: 10px;
		p {
			position: relative;
			color: #333333;
			font-size: 22px;
			font-weight: 300;
			text-align: left;
			background: #ffffff;
			padding: 23px 70px 23px 25px;
			cursor: pointer;
			span {
				position: absolute;
				background: url("../img/small-arrow.png") no-repeat center right;
				height: 20px;
				width: 12px;
				top: 50%;
				margin-top: -10px;
				right: 20px;
				transition: .3s;
			}
		}
		.open {
			transform: rotate(90deg);
		}
	}
	.answer {
		display: none;
		padding: 20px 30px 10px 30px;
		p {
			color: #333333;
			font-size: 17px;
			font-weight: 300;
			background: transparent;
			padding: 0;
		}
	}
	.btn-block {
		margin-top: 40px;
	}
	.btn {
		background: #fcdd4a;
		border-radius: 5px;
		padding: 16px 16px;
		width: 363px;
	}
	.question-block-more {
		display: none;
	}
}