.section-5 {
	padding: 30px 0 60px 0;
	background: #ffffff;
	h3 {
		font-family: $russo-font;
		font-size: 30px;
		color: #333333;
		background: url("../img/footer-bg.png");
		width: 300px;
		text-align: left;
		padding-left: 10px;
		margin-left: -10px;
		span {
			background: url("../img/lapa.png") no-repeat center;
			width: 33px;
			height: 27px;
			display: inline-block;
		}
	}
	p {
		font-family: $open-font;
		font-size: 18px;
		font-weight: 300;
	}
	ul {
		list-style-type: none;
		margin-top: 50px;
		padding-left: 0;
		li {
			background: url("../img/list.png") no-repeat 0 6px;
			padding-left: 35px;
			font-family: $open-font;
			font-weight: 300;
			font-size: 18px;
			line-height: 24px;
			margin-bottom: 25px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	.information-about-author {
		margin-top: 60px;
	}
	.book-block {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-flow: row wrap;
		margin-top: 95px;
	}
	.author-img {
		border-bottom-right-radius: 79px;
		overflow: hidden;
		img {
			height: 100%;
			border-bottom-right-radius: 70px;
		}
	}
}