@media screen and (max-width: 1855px) {
	header {
		margin-bottom: -10px;
	}
}
@media screen and (max-width: 1199px) {
	header .menu ul {
		margin-left: 91px;
	}
	.section-2 h3 {
		font-size: 21px;
		line-height: 26px;
	}
	.section-2 .view-block {
		height: 360px;
	}
	.section-2 a {
		font-size: 18px;
	}
	h2 {
		font-size: 40px;
		line-height: 46px;
	}
	.section-7 .blog img {
		max-height: 133px;
	}
	.section-7 .fb img, .section-7 .vk img, .section-7 .youtube img {
		max-height: 101px;
	}
	.section-7 .link p {
		font-size: 23px;
	}
	.section-8 .form-group input {
		width: 364px;
	}
	.section-9 .item_footer p {
		font-size: 14px;
	}
	footer a {
		font-size: 16px;
	}
	.section-1 .conviction-description .first-description p {
		font-size: 18px;
	}
	.section-1 .conviction-description .second-description p {
		font-size: 14px;
	}
	.section-1 .conviction_end p, .section-1 .conviction_end p span {
		font-size: 20px;
	}
	.section-1 h3 {
		font-size: 25px;
	}
	.section-1 h4 {
		font-size: 19px;
	}
	.btn {
		width: 380px;
		font-size: 20px;
	}
}
@media screen and (max-width: 991px) {
	header .logo {
		margin-top: 20px;
		text-align: center;
	}
	.navbar-toggler {
		background: url("../img/burger.png") no-repeat;
		background-size: contain;
		height: 30px;
		width: 30px;
	}
	header .header-link {
		position: relative;
		margin-top: 20px;
	}
	header .menu {
		position: absolute;
		top: -14px;
		left: 0;
	}
	header .menu ul {
		position: relative;
		margin-left: 0;
		background: #ffffff;
		width: auto;
		padding: 5px 10px;
		z-index: 9999;
	}
	h1 {
		margin-top: 30px;
		font-size: 50px;
		line-height: 56px;
		margin-bottom: 10px;
	}
	h4 {
		font-size: 20px;
	}
	header .text_and_btn ul {
		padding-left: 0;
	}
	header .clients {
		margin-top: 40px;
	}
	header .clients-text {
		padding-left: 0px;
	}
	h2 {
		font-size: 35px;
		line-height: 41px;
	}
	.title {
		padding: 25px 0;
	}
	.section-1 .conviction {
		padding: 20px 15px 30px 15px;
	}
	.section-1 .conviction-head_img {
		margin-right: 10px;
	}
	.section-1 .conviction-head_img img {
		max-width: 65px;
	}
	.section-1 h3 {
		font-size: 22px;
	}
	.section-1 .conviction-description .first-description p {
		font-size: 16px;
	}
	.section-1 .conviction_end p, .section-1 .conviction_end p span {
		font-size: 18px;
	}
	.section-2 .view-block {
		&:hover {
			.view-block_hover {
				border: 20px solid #ffffff;
			}
		}
	}
	.section-2 .view-block_hover {
		padding: 15px 0 0 20px;
		border: 20px solid transparent;
	}
	.section-3 .appeal-description p {
		font-size: 16px;
	}
	.section-4 .second-comment .comment-block .comment-text:before, .section-4 .third-comment-block .comment-block .comment-text:before {
		left: 75%;
	}
	.section-4 .third-comment-block .comment-text:before {
		left: 62% !important;
	}
	.section-4 .img_user {
		margin-right: 15px;
	}
	.section-4 .second-comment .comment-block .img_user, .section-4 .third-comment-block .comment-block .img_user {
		margin-right: 0;
		margin-left: 15px;
	}
	.section-4 .galina .comment-text {
		margin-top: 30px;
	}
	.section-4 .galina .comment-text:before {
		content: '';
		top: -13px;
		left: 50px;
		transform: rotate(0deg);
	}
	.section-4 .last-comment-block .comment-text {
		margin-top: 30px;
	}
	.section-4 .last-comment-block .comment-text:before {
		content: '';
		top: -12px;
		left: 39px;
		transform: rotate(0deg);
	}
	.section-5 .author-img {
		text-align: center;
		height: 400px;
	}
	.section-5 .author-img img {
		height: 100%;
	}
	.section-5 .information-about-author {
		margin-top: 30px;
	}
	.section-5 p {
		font-size: 16px;
	}
	.section-5 ul li {
		font-size: 16px;
		margin-bottom: 15px;
	}
	.section-5 ul {
		margin-top: 30px;
	}
	.section-6 .img-block {
		text-align: center;
		margin-bottom: 30px;
	}
	.section-6 .btn-block {
		justify-content: center;
	}
	.section-7 {
		padding: 20px 0 45px 0;
	}
	.section-7 .link {
		height: 265px;
		margin-top: 25px;
	}
	.section-7 .blog p {
		margin-bottom: 22px!important;
	}
	.section-7 .blog img {
		max-height: 180px;
	}
	.section-7 .fb img, .section-7 .vk img, .section-7 .youtube img {
		max-height: 143px;
	}
	.section-7 .link p {
		margin-bottom: 56px;
	}
	.section-8 .picture-block {
		text-align: center;
	}
	.section-9 {
		padding: 10px 0 70px 0;
	}
	.section-9 .item {
		margin-top: 60px;
	}
	footer .last-block {
		height: 80px;
	}
}
@media screen and (max-width: 767px) {
	header .email, header .phone {
		text-align: right;
	}
	header .phone {
		margin-top: 0;
	}
	header .phone a {
		padding-left: 90px;
	}
	header .menu {
		top: 4px;
	}
	.navbar-collapse {
		margin-top: 10px;
	}
	h1 {
		font-size: 42px;
		line-height: 48px;
		width: 100%;
	}
	.section-2 .view-main-block {
		display: block;
	}
	.section-2 .view-block {
		width: 100%;
		background-size: cover;
	}
	h2 {
		font-size: 30px;
		line-height: 36px;
	}
	.section-3 .appeal-block {
		margin-top: 30px;
	}
	.section-3 {
		padding: 20px 0 50px 0;
	}
	.section-4 .third-comment-block .comment-text:before {
		left: 89% !important;
	}
	.section-7 .blog img {
		max-height: 150px;
	}
	.section-7 .blog p {
		margin-bottom: -17px !important;
	}
	.section-7 .link p {
		margin-bottom: 9px;
	}
	.section-7 .fb img, .section-7 .vk img, .section-7 .youtube img {
		max-height: 120px;
	}
	.section-7 .link {
		height: 193px;
	}
	.section-8 .form-group {
		justify-content: center;
	}
	.section-8 .form-group input {
		width: 100%;
		height: 70px;
	}
	.section-8 .form-group .btn {
		margin-left: 0;
		margin-top: 30px;
	}
	.section-3 .appeal-description {
		margin-top: 15px;
	}
	.section-3 .appeal-block:nth-child(2) .appeal-title {
		margin-bottom: 0px;
	}
	.section-3 .appeal-block:last-child .appeal-title {
		margin-bottom: 0;
	}
}
@media screen and (max-width: 575px) {
	.section-7 .link {
		background-size: cover;
		border-bottom-right-radius: 50px;
	}
}
@media screen and (max-width: 541px) {
	h1 {
		font-size: 34px;
		line-height: 40px;
	}
}